<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="common/head::head"></head>

    <body>
        <div th:replace="common/top::top"></div>
        <div th:replace="common/column::column"></div>

        <div class="fly-footer">
            <p><a href="http://fly.layui.com/" target="_blank">BEST_HOME 好家</a></p>
            <p>
                <a href="http://fly.layui.com/jie/3147/" target="_blank">主页</a>
                <a href="http://www.layui.com/template/fly/" target="_blank">打赏我一下</a>
                <a href="http://fly.layui.com/jie/2461/" target="_blank">联系我</a>
            </p>
        </div>
        <div th:replace="common/foot::foot"></div>
    </body>
</html>